<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html lang='es'>
  <header>
  	<nav>
  		<ul>
			<li><a href='/'>Inicio</a></li>
			<li><a href='/peliculas'>Peliculas: datos</a></li>
			<li><a href='/genres'>Géneros</a></li>
			<li><a href='/filmsByGenre'>Películas por género </a></li>
		</ul>
	</nav>
  </header>
  <section>
    <h1>Lista peliculas</h1>
    <p>Actualmente tenemos registradas:</p>
	<ul>
		{% for dato in peliculas %}
	  	<li>{{dato.titulo}}</li>
		{% endfor %}
	</ul>
  </section>
</html>