{% extends 'base.html' %}

{% block encabezado %} <h1> Home </h1> {% endblock %}

{% block contenido %} 
	{% if user.is_authenticated %}
		<br>
		Hi {{ user.username }}!
		<p>
		{% for character in characters %}
			{%if character.user.username == user.username %}
				<li><a href="/personajeSeleccionado/{{character.id}}"> {{character.name}} </a></li>
			{% endif %}    		
		{% endfor %}
		</p>
		<p><a href="{% url 'logout' %}">logout</a></p>
	{% else %}
		<p>You are not logged in</p>
		<p><a href="/signup">Signup</a></p>
		<p><a href="/login">Login</a></p>
	{% endif %}
{% endblock %}