{% extends 'base.html' %}

{% block encabezado %} <h1> Show Spells </h1> {% endblock %}

{% block contenido %} 
	<h2>Spells</h2>
		<ul>
		{% for spell in spells %}
		  <li><strong>{{spell.name}}</strong>
		  	<ul>
		  		<li>Level: {{spell.level}}</li>
		  		<li>School: {{spell.school}}</li>
		  		<li>Casting time: {{spell.castingTime}}</li>
		  		<li>Duration: {{spell.duration}}</li>
		  		<li>Range: {{spell.range}}</li>
		  		<li>Components: {{spell.components}}</li>
		  		<li>Has Ritual: {{spell.hasRitual}}</li>
		  		<li>Require concentration: {{spell.requireConcentration}}</li>
		  		<li>Type: {{spell.type}}</li>
		  		<li>Description: {{spell.description}}</li>
		  	</ul>	
		  </li>
		  <br>
		{% endfor %}
		</ul>
{% endblock %}