{% extends 'base.html' %}

{% block encabezado %} <h1> Search Spell </h1> {% endblock %}

{% block contenido %} 
	<br>
	<form method="post">
	    {% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Submit"><br>
	    <h2>Coincidences from: {{spellName|capfirst}}</h2>
	    <ul>
		{% for spell in spells %}
		  <li><strong>{{spell.name}}</strong>
		  	<ul>
		  		<li>Level: {{spell.level}}</li>
		  		<li>School: {{spell.school}}</li>
		  		<li>Casting time: {{spell.castingTime}}</li>
		  		<li>Components: {{spell.components}}</li>
		  		<li>Duration: {{spell.duration}}</li>
		  		<li>Has Ritual: {{spell.hasRitual}}</li>
		  		<li>Require concentration: {{spell.requireConcentration}}</li>
		  		<li>Type: {{spell.type}}</li>
		  		<li>Description: {{spell.description}}</li>
		  	</ul>	
		  </li>
		  <br>
		{% endfor %}
		</ul>
	</form>
{% endblock %}